/*desplegable del login*/
.menuprincipal{
    float: left;
    position: relative;
}
.desplegable{
    display: none; 
}
.menuprincipal>a, .desplegable>a{
    display: block;
}
.menuprincipal:hover .desplegable{
    display: block;
}
.desplegable input{
    border-radius: 5px ;
    border: 1px solid black;
    height: 30px;
    text-align: center;
    background: #717d8d;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    size: 100%;
}

#boton{
    background: #e0b31c;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 80px;
    text-align: center;
}
}
/*desplegable del login*/
html {
    height:100%;
    width:100%;
}


.principal{
    background: url("../img/days-gone.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 660px;
}


@media (max-width: 600px) {
        .principal{
        background:url("../img/days-gone.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: auto;
    }
        nav {
            display: inline;
        }
     }


 p {
     text-align: center;
     
 }    


.btn {
    color:white;
}

.btn:hover {
    color: #e0b31c;

}


li:hover{
    color: #e0b31c;
}

.login {
    background: url("../img/wallpap.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;
}

footer {
    height: 80px;
    color: yellow;
    text-align: center;
   
}

@media (max-width: 600px) {
    .login{
    background:url("../img/wallpap.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: auto;
}
 }
 .imgportada{
     width: 30%;
     margin: 0 35%;
     
 }
 /*registro*/
 .fondo{
     color: white;
     background: url(../img/registro.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: 50% 35%;
     background-size: auto 81.5%;
     text-align: center;
     border: 1px solid black;
     margin: 0 20.5%;
     padding: 10%;
 }
 .inputr{
     border: 1px black solid;
     border-radius: 5px;
 }
 .botonr{
     border: 1px solid black;
     border-radius: 5px;
     width: 20%;
     height: 50px;
 }
 label{
     font-weight: bold;
 }